html  {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
body {
  display: block;
  line-height: 1.4rem;
}
.container {
  max-width: 960px;
  margin: auto;
}
.copyright {
  margin-left: 1rem;
}
div {
  display: block;
}
.flex {
  display: flex;
}
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}
h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.2em 0px;
  line-height: 1.2;
}
head {
  display: none;
}
header {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: left;
  padding-top: 1rem;
  height: 30rem;
}
header .flex {
  justify-content: flex-end;
}
img {
  border-style: none;
}
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}
.info p {
  padding: 1rem 0;
}
nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
p {
  display: block;
}
.paper-icon {
  width: 3.5rem;
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
}
.service img {
  width: 5rem;
  margin-bottom: 1rem;
}
.supporting {
  display: flex;
  justify-content: center;
}
.title {
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}
/*.title-philosophize
{
  background-color: cadetblue;
  display: flex;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
  align-content: space-between;
}*/
.truncated-menu {
  display: none;
}
ul {
  margin-right: 1rem;
}
ul li {
  display: inline;
  padding: 0 1rem;
}
li {
  display: list-item;
  text-align: match-parent;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-banner {
  background-color: white;
  font-weight: bold;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}
ul, menu, dir {
  display: block;
  list-style-type:disc;
}
@media only screen and (max-width: 1024px){
header {
  padding-top: 0;
  height: 22rem;
}
.main-banner {
  padding: 0.75rem 4rem;
  margin-top: 5rem;
  margin-right: 2rem;
}
h1 {
  font-size: 1.33rem;
}
nav.container {
  max-width: 100%;
}
}
@media only screen and (max-width: 470px) {
.supporting-container{
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.copyright {
  display: none;
}
footer {
  justify-content: center;
}
.info {
  width: 90%;
  margin-top: 0.5rem;
}
}
